<!DOCTYPE html>
<html>
  <head>
    <title>Evenmatchup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    
  </head>
  
  <header>
     <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          
          <%= link_to "/", class: "navbar-brand" do %>
            EvenMatchupGaming
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Players", staff_path %></li>
             <li><%= link_to "Videos", videos_path %></li>
            <li><%= link_to "Let's talk", new_contact_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  

 <body>
      
     <%= yield %>
    
 </body>
    
    <!-- FOOTER -->
 <footer>
      <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          
          <%= link_to "/", class: "navbar-brand" do %>
            EvenMatchupGaming
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Let's talk", new_contact_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Players", events_path %></li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      
 </footer>
    
    
 
  
</html>
